{% extends "layout.html" %}
{% block content %}
    {% for book in books %}
        <div class="row section">
            <div class="col s12 m7">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src={{ book.cover }} alt={{ book.image_txt }}>
                        <span class="card-title"><h4>{{ book.title }}</h4></span>
                    </div>
                    <div class="card-content">
                        <div class="progress" style="background-color: rgb(218, 218, 218)">
                            <div class="determinate black" style="width: 70%"></div>
                        </div>
                        <p>by {{ book.author }}</p>
                        <p>posted on {{ book.date_posted }}</p>
                        <p> {{ book.discription }} </p>
                        
                    </div>
                    <div class="card-action">
                        <a href="#"> Record </a>
                        <a href="#"> Share  </a>
                    </div>
                </div>
            </div>
        </div>
        
    {% endfor %}
{% endblock %}