{% extends "layout.html" %}
{% block content %}
    <div class="row">
        {% for book in books %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src={{  coverdic + book.cover }} alt={{ book.image_txt }}>
                        <span class="card-title"><h4>{{ book.title }}</h4></span>
                    </div>
                    <div class="card-content">
                        <div class="progress" style="background-color: rgb(218, 218, 218)">
                            <div class="determinate black" style="width: 70%"></div>
                        </div>
                        <p>by {{ book.author }}</p>
                        
                        <p hidden >ID :  {{ book.id }}</p>
                        <p>posted on {{ book.date_posted }}</p>
                        <p> {{ book.discription or "" }} </p>
                        
                    </div>
                    <div class="card-action">
                    <a href="/library/{{ book.id }}/"> Read </a>
                        <a href="#"> Share  </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}